<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    
    <div class="col-4 circle-pic">
      <%=image_tag(current_user.pic_url, class:"rounded tweet-pic my-auto")%>
    </div>

    <div class="col-8">
      <div class="field form-group">
        <%= form.label :content, "#{current_user.username} que estás pensando?"%>
        <%= form.text_area :content, class:"form-control" %>
      </div>

      <div class="actions">
        <%= form.submit "Tweet", class: "btn btn-success mt-2 float-right" %>
      </div>
    </div>
  </div>
<% end %>
