<%# USER'S PROFILE VIEW %>

<div class="coontainer">
  <div class="row">
    <div class="col-2 pl-5 mt-5">
      <%=image_tag(@user.pic_url, class:"rounded-circle profile-pic")%>
    </div>
    <div class="col-10 mt-5">
      <div class="row">
        <h1>Perfil de <%= @user %></h1>
        <%# <%="current #{current_user} || @user.id #{@user.id}"%>
      </div>
      <div class="row mt-5">
        <%# AQUI DEBIESE AÑADIR VALIDACIÓN PARA SABER SI YA ESTOY SIGUIENDO A ESTA CUENTA %>
        <%if user_signed_in? %>
          
          <%if current_user == @user %>
            <%# NO hay botón, no se puede seguir a si mismo %>
          <%else%>
            <%if current_user.follows_user?(current_user, @user.id) %>
            
              <%=link_to "Dejar de seguir", unfollow_path(@user.id), method: :delete, class:"btn btn-danger"%>
            <%else%>
              
              <%=link_to "Seguir", follow_path(@user.id), method: :post, class:"btn btn-success"%>
            <%end%>
          <%end%>
        <%else%>
          <%= link_to "Inicia sesión para seguir a #{@user}" , new_user_session_path %>
        <%end%>
      </div>
    </div>
  </div>
  <br>
  <div class="row ml-5 text-center">
    <h4><%= link_to "Atrás", root_path, class:"mt-5"%></h4>
  </div>
<div>
<%# añadir foto, nombre perfil, botón follow (if clicked unfollow)
cargar últimos tweets?? 
%>

<%# @follows_user?(@user_id) && user_signed_in %>