<h1>Pages#index</h1>

<% if user_signed_in? %>
<div class="row">
  <div class="col-8 border border-info mt-3 container p-2 my-2">
      <%= render 'tweets/form', tweet: @tweet %>
  </div>
</div>
<% end %>

<div class="row">
  
  <% @tweets.each do |tweet| %>
    <div class="col-8 border border-info mt-3 container p-2 my-2">
      <div class="row">
        <div class="col-4 circle-pic">
          <%=image_tag(tweet.user.pic_url, class:"rounded tweet-pic")%>
        </div>
        <div class="col-8">
          <h6 class="username-tw"><%=tweet.user.to_s%></h6>
          <h4><%=tweet.content%></h4>
        </div>
      </div>
      <div class="float-right mt-2 row mr-5">
        <p>

          <%=tweet.retweet_count%> 
          <%if tweet.liked?(current_user)%>
            <i class="fas fa-retweet retweeted"></i> <%# retweeted %>
          <%else%>
            <i class="fas fa-retweet"></i> 
          <%end%>
          <%=tweet.likes.count%> 
          <%# Cambia el ícono de like en base a si user ha dado like al tweet o no %>
          <%if tweet.liked?(current_user)%>
            <%= link_to '<i class="fas fa-heart liked"></i>'.html_safe, tweet_likes_path(tweet), method: :post%>
            
          <%else%>
            <%= link_to '<i class="far fa-heart"></i>'.html_safe, tweet_likes_path(tweet), method: :post%>
            
          <%end%>
          
        </p>
        
      </div> 
    </div>
  <% end %>
  
</div>

<div class="row mt-5 mx-auto text-center">
  <div class= "col-12">
    <%# <%= paginate @tweets%>
    <%= link_to_next_page @tweets, "Mostrar más"%>
  </div>
</div>