<h1>Pages#index</h1>

<div class="row">
  <% @tweets.each do |tweet| %>
    <div class="col-8 border border-info mt-3 container p-2">
      <div class="row">
        <div class="col-4 circle-pic">
          <%=image_tag(tweet.user.pic_url, class:"rounded tweet-pic")%>
        </div>
        <div class="col-8">
          <h2><%=tweet.content%></h2>
        </div>
      </div>
      <div class="float-right mt-2 row">
        <p><%=tweet.retweets.count%> retweets <%=tweet.likes.count%> likes</p>
      </div> 
    </div>
  <% end %>
  
</div>

<div class="row mx-auto mt-5">
    <div class="col-12"> 
      <%= paginate @tweets%>
      <%= link_to_next_page @tweets, "Mostrar más"%>
    </div>
  </div>

